<nav>
	{% assign date = page.date | date_to_string %}
	{% if date != null and date != "" %}
	{% assign datestr = date | append: "," %}
	{% else %}
	{% assign datestr = "" %}
	{% endif %}
	
  {% assign author = site.authors | where: 'short_name', page.author | first %}
	
	{% 
		if page.title != "code"
		and page.title != "About"
		and page.title != "Viridi"
	%}
	<br clear="all">
	<div class="citation">
	Cite as: {{ author.name }}, "{{ page.title }}" in <i>code -- learning physics through code</i>, {{ datestr }} url <a href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">{{ site.url }}{{ site.baseurl }}{{ page.url }}</a> [accessed {{ "now" | date: "%d %b %Y" }}].
	{% endif %}
	</div>

There are are only <a href="https://statcounter.com/p12522089/?guest=1"><!-- Default Statcounter code for code
https://dudung.github.io/code/ -->
<script type="text/javascript">
var sc_project=12522089; 
var sc_invisible=0; 
var sc_security="a83e530c"; 
var sc_text=3; 
var scJsHost = "https://";
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="https://statcounter.com/" target="_blank"><img
class="statcounter"
src="https://c.statcounter.com/12522089/0/a83e530c/0/"
alt="Web Analytics"></a></div></noscript>
<!-- End of Statcounter Code -->
</a> uniquie visitors since 01 Apr 2021.

</nav>

