---
layout: default
---
{% include ptext.html %}
{% include mathjax.html %}
{% include chartjs.html %}
{% include x3dom.html %}
{% include threejs.html %}
{% include 3dmol.html %}
{% include oo.html %}
{% include svgphys.html %}

<h1>{{ page.title }}</h1>

{% capture tweet_url %}
https://twitter.com/intent/tweet?url={{ site.url }}{{ site.baseurl }}{{ page.url }} &via={{ page.twitter_username }}
{% endcapture %} &hashtags=c{{ page.pid }}

{% capture tweet_msg %}
&text=ask  
{% endcapture %}

<p>
{{ page.date | date_to_string }}
{% assign author = site.authors | where: 'short_name', page.author | first %}
{% if author %}
	- <a href="{{site.baseurl}}{{ author.url }}">{{ author.name }}</a>
{% endif %} 
| <a href="{{ page.src }}">History</a> |
<a id='comment' href="{{ tweet_url }}" name="{{ tweet_msg }}" rel="nofollow" target="_blank" title="Comment on Twitter">Comment</a>
</p>

<script>
function rnd(){return Math.round(1000000*Math.random())};
var a = document.getElementById("comment");
a.href = a.href + " on " + rnd() + a.name;
</script>

{{ content }}
