---
layout: default
---
{% include ptext.html %}
{% include mathjax.html %}
{% include chartjs.html %}
{% include x3dom.html %}
{% include threejs.html %}
{% include 3dmol.html %}
{% include oo.html %}
{% include svgphys.html %}

<h1>{{ page.title }}</h1>
<p>
{{ page.date | date_to_string }}
{% assign author = site.authors | where: 'short_name', page.author | first %}
{% if author %}
	- <a href="{{site.baseurl}}{{ author.url }}">{{ author.name }}</a>
{% endif %} 
| <a href="{{ page.src }}">History</a> | View <!-- Default Statcounter code for code
https://dudung.github.io/code/ -->
<a href="https://statcounter.com/p12522089/?guest=1">
<script type="text/javascript">
var sc_project=12522089; 
var sc_invisible=0; 
var sc_security="a83e530c"; 
var sc_text=3; 
var scJsHost = "https://";
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="https://statcounter.com/" target="_blank"><img
class="statcounter"
src="https://c.statcounter.com/12522089/0/a83e530c/0/"
alt="Web Analytics"></a></div></noscript>
<!-- End of Statcounter Code -->
</a>
</p>

{{ content }}
